Chapter09/VacationRequestLogicApp/VacationRequestLogicApp/bin/Debug/staging/VacationRequestLogicApp/LogicApp.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "[resourceGroup().location]",
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "westindia",
        "canadacentral",
        "canadaeast",
        "uksouth",
        "ukwest",
        "westcentralus",
        "westus2"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    },
    "azuretables_1_Connection_Name": {
      "type": "string",
      "defaultValue": "azuretables"
    },
    "azuretables_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "ordermanagerconnection"
    },
    "azuretables_1_storageaccount": {
      "type": "string",
      "metadata": {
        "description": "The name of your storage account"
      },
      "defaultValue": "masteringserverlessstore"
    },
    "azuretables_1_sharedkey": {
      "type": "securestring",
      "metadata": {
        "description": "The shared storage key of your storage account"
      }
    },
    "office365_1_Connection_Name": {
      "type": "string",
      "defaultValue": "office365"
    },
    "office365_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "mabonann@microsoft.com"
    }
  },
  "variables": {},
  "resources": [
    {
      "name": "[parameters('logicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "apiVersion": "2016-06-01",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "Get_entity": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuretables']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/Tables/@{encodeURIComponent('EmpoloyeeTable')}/entities(PartitionKey='@{encodeURIComponent('Employee')}',RowKey='@{encodeURIComponent(triggerBody()?['EmployeeId'])}')"
              },
              "runAfter": {}
            },
            "Condition": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@body('Get_entity')?['RowKey']",
                      "@triggerBody()?['EmployeeId']"
                    ]
                  }
                ]
              },
              "actions": {
                "Get_older_request_for_the_date": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['azuretables']['connectionId']"
                      }
                    },
                    "method": "get",
                    "path": "/Tables/@{encodeURIComponent('VacationRequestsTable')}/entities(PartitionKey='@{encodeURIComponent(triggerBody()?['EmployeeId'])}',RowKey='@{encodeURIComponent(triggerBody()?['RequestDate'])}')"
                  },
                  "runAfter": {}
                },
                "Is_there_another_request_for_the_request_date": {
                  "type": "If",
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          "@body('Get_older_request_for_the_date')?['RowKey']",
                          "@triggerBody()?['RequestDate']"
                        ]
                      }
                    ]
                  },
                  "actions": {
                    "500_response_for_another_request": {
                      "type": "Response",
                      "kind": "http",
                      "inputs": {
                        "statusCode": 500,
                        "body": "@concat('There is another request for ',triggerBody()?['EmployeeId'],' in the same date')"
                      },
                      "runAfter": {}
                    }
                  },
                  "runAfter": {
                    "Get_older_request_for_the_date": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {
                      "Add_new_request_into_the_table": {
                        "type": "ApiConnection",
                        "inputs": {
                          "host": {
                            "connection": {
                              "name": "@parameters('$connections')['azuretables']['connectionId']"
                            }
                          },
                          "method": "post",
                          "body": {
                            "PartitionKey": "@{triggerBody()?['EmployeeId']}",
                            "EmployeeId": "@{triggerBody()?['EmployeeId']}",
                            "RowKey": "@{triggerBody()?['RequestDate']}",
                            "RequestDate": "@{triggerBody()?['RequestDate']}",
                            "VacationType": "@{triggerBody()?['VacationType']}"
                          },
                          "path": "/Tables/@{encodeURIComponent('VacationRequestsTable')}/entities"
                        },
                        "runAfter": {}
                      },
                      "Send_approval_email": {
                        "type": "ApiConnectionWebhook",
                        "inputs": {
                          "host": {
                            "connection": {
                              "name": "@parameters('$connections')['office365']['connectionId']"
                            }
                          },
                          "body": {
                            "NotificationUrl": "@{listCallbackUrl()}",
                            "Message": {
                              "To": "",
                              "Subject": "Approval Vacation Request for employee @{body('Get_entity')?['RowKey']}",
                              "Options": "Approve, Reject",
                              "Importance": "Normal"
                            }
                          },
                          "path": "/approvalmail/$subscriptions"
                        },
                        "runAfter": {
                          "Add_new_request_into_the_table": [
                            "Succeeded"
                          ]
                        }
                      }
                    }
                  }
                }
              },
              "runAfter": {
                "Define_Manager_Data": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "404_response_for_employee_not_exists": {
                    "type": "Response",
                    "kind": "http",
                    "inputs": {
                      "statusCode": 404,
                      "body": "@concat('Employee ',triggerBody()?['EmployeeId'],' not exists')"
                    },
                    "runAfter": {}
                  }
                }
              }
            },
            "Define_Manager_Data": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "Manager",
                    "type": "Object",
                    "value": {
                      "FirstName": "@{body('Get_entity')?['managerFirstName']}",
                      "LastName": "@{body('Get_entity')?['managerLastName']}",
                      "Mail": "@{body('Get_entity')?['managerEmail']}"
                    }
                  }
                ]
              },
              "runAfter": {
                "Get_entity": [
                  "Succeeded"
                ]
              }
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "EmployeeId": {
                      "type": "string"
                    },
                    "RequestDate": {
                      "type": "string"
                    },
                    "VacationType": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuretables": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'azuretables')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('azuretables_1_Connection_Name'))]",
                "connectionName": "[parameters('azuretables_1_Connection_Name')]"
              },
              "office365": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'office365')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('office365_1_Connection_Name'))]",
                "connectionName": "[parameters('office365_1_Connection_Name')]"
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('azuretables_1_Connection_Name'))]",
        "[resourceId('Microsoft.Web/connections', parameters('office365_1_Connection_Name'))]"
      ]
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('azuretables_1_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'azuretables')]"
        },
        "displayName": "[parameters('azuretables_1_Connection_DisplayName')]",
        "parameterValues": {
          "storageaccount": "[parameters('azuretables_1_storageaccount')]",
          "sharedkey": "[parameters('azuretables_1_sharedkey')]"
        }
      }
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('office365_1_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'office365')]"
        },
        "displayName": "[parameters('office365_1_Connection_DisplayName')]"
      }
    }
  ],
  "outputs": {}
}