Chapter09/VacationRequestLogicApp/VacationRequestLogicApp/bin/Debug/staging/VacationRequestLogicApp/LogicApp.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "[resourceGroup().location]",
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "westindia",
        "canadacentral",
        "canadaeast",
        "uksouth",
        "ukwest",
        "westcentralus",
        "westus2"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    },
    "azuretables_1_Connection_Name": {
      "type": "string",
      "defaultValue": "azuretables"
    },
    "azuretables_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "ordermanagerconnection"
    },
    "azuretables_1_storageaccount": {
      "type": "string",
      "metadata": {
        "description": "The name of your storage account"
      },
      "defaultValue": "masteringserverlessstore"
    },
    "azuretables_1_sharedkey": {
      "type": "securestring",
      "metadata": {
        "description": "The shared storage key of your storage account"
      }
    },
    "office365_1_Connection_Name": {
      "type": "string",
      "defaultValue": "office365"
    },
    "office365_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "mabonann@microsoft.com"
    }
  },
  "variables": {},
  "resources": [
    {
      "name": "[parameters('logicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "apiVersion": "2016-06-01",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "Get_entity": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuretables']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/Tables/@{encodeURIComponent('EmpoloyeeTable')}/entities(PartitionKey='@{encodeURIComponent('Employee')}',RowKey='@{encodeURIComponent(triggerBody()['EmployeeId'])}')"
              },
              "runAfter": {}
            },
            "Initialize_manager_mail": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "managerMail",
                    "type": "String",
                    "value": "@{body('Get_entity')?['managerEmail']}"
                  }
                ]
              },
              "runAfter": {
                "200_response": [
                  "Succeeded"
                ]
              }
            },
            "200_response": {
              "type": "Response",
              "kind": "Http",
              "inputs": {
                "statusCode": 200,
                "body": "Your request is inserted in our system. Wait for the approve or reject."
              },
              "runAfter": {
                "Get_entity": [
                  "Succeeded"
                ]
              }
            },
            "Send_approval_email": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['office365']['connectionId']"
                  }
                },
                "body": {
                  "NotificationUrl": "@{listCallbackUrl()}",
                  "Message": {
                    "To": "@{variables('managerMail')}",
                    "Subject": "Approval Vacation Request for employee @{triggerBody()['EmployeeId']}",
                    "Options": "Approve, Reject",
                    "Importance": "Normal"
                  }
                },
                "path": "/approvalmail/$subscriptions"
              },
              "runAfter": {
                "Initialize_manager_mail": [
                  "Succeeded"
                ]
              }
            },
            "Check_the_manager_response": {
              "type": "Switch",
              "expression": "@body('Send_approval_email')?['SelectedOption']",
              "cases": {
                "Approve": {
                  "case": "Approve",
                  "actions": {
                    "Add_new_request_into_the_table": {
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['azuretables']['connectionId']"
                          }
                        },
                        "method": "post",
                        "body": {
                          "EmployeeId": "@{triggerBody()['EmployeeId']}",
                          "PartitionKey": "@{triggerBody()['EmployeeId']}",
                          "RequestDate": "@{triggerBody()['RequestDate']}",
                          "RowKey": "@{triggerBody()['RequestDate']}",
                          "VacationType": "@{triggerBody()['VacationType']}"
                        },
                        "path": "/Tables/@{encodeURIComponent('VacationRequestsTable')}/entities"
                      },
                      "runAfter": {}
                    },
                    "Send_an_email": {
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['office365']['connectionId']"
                          }
                        },
                        "method": "post",
                        "body": {
                          "To": "@{body('Get_entity')?['email']}",
                          "Subject": "Vacation request approved!",
                          "Body": "Your request for @{triggerBody()['RequestDate']} is approved!"
                        },
                        "path": "/Mail"
                      },
                      "runAfter": {
                        "Add_new_request_into_the_table": [
                          "Succeeded"
                        ]
                      }
                    }
                  }
                },
                "Reject": {
                  "case": "Reject",
                  "actions": {
                    "Send_an_email_2": {
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['office365']['connectionId']"
                          }
                        },
                        "method": "post",
                        "body": {
                          "To": "@{body('Get_entity')?['email']}",
                          "Subject": "Vacation request rejected!",
                          "Body": "Your request for @{triggerBody()['RequestDate']} is rejected!"
                        },
                        "path": "/Mail"
                      },
                      "runAfter": {}
                    }
                  }
                }
              },
              "default": {
                "actions": {}
              },
              "runAfter": {
                "Send_approval_email": [
                  "Succeeded"
                ]
              }
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "$id": "http://example.com/root.json",
                  "$schema": "http://json-schema.org/draft-07/schema#",
                  "definitions": {},
                  "properties": {
                    "EmployeeId": {
                      "$id": "#/properties/EmployeeId",
                      "default": "",
                      "examples": [
                        "111111"
                      ],
                      "pattern": "^(.*)$",
                      "title": "EmployeeId",
                      "type": "string"
                    },
                    "RequestDate": {
                      "$id": "#/properties/RequestDate",
                      "default": "",
                      "examples": [
                        "2019-06-06"
                      ],
                      "pattern": "^(.*)$",
                      "title": "RequestDate",
                      "type": "string"
                    },
                    "VacationType": {
                      "$id": "#/properties/VacationType",
                      "default": "",
                      "examples": [
                        "Illness"
                      ],
                      "pattern": "^(.*)$",
                      "title": "VacationType",
                      "type": "string"
                    }
                  },
                  "required": [
                    "EmployeeId",
                    "RequestDate",
                    "VacationType"
                  ],
                  "title": "The Root Schema",
                  "type": "object"
                }
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "office365": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'office365')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('office365_1_Connection_Name'))]",
                "connectionName": "[parameters('office365_1_Connection_Name')]"
              },
              "azuretables": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'azuretables')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('azuretables_1_Connection_Name'))]",
                "connectionName": "[parameters('azuretables_1_Connection_Name')]"
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('office365_1_Connection_Name'))]",
        "[resourceId('Microsoft.Web/connections', parameters('azuretables_1_Connection_Name'))]"
      ]
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('azuretables_1_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'azuretables')]"
        },
        "displayName": "[parameters('azuretables_1_Connection_DisplayName')]",
        "parameterValues": {
          "storageaccount": "[parameters('azuretables_1_storageaccount')]",
          "sharedkey": "[parameters('azuretables_1_sharedkey')]"
        }
      }
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('office365_1_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'office365')]"
        },
        "displayName": "[parameters('office365_1_Connection_DisplayName')]"
      }
    }
  ],
  "outputs": {}
}